@use "../abstracts/_variables.scss" as *;
@use "../abstracts/functions.scss" as *;

.home-main {
  margin-bottom: convert(135);

  .hero {
    .hero__main {
      display: flex;
      background-color: rgba(242, 240, 241, 1);
      justify-content: center;
      width: 100%;
      flex-direction: column;
      padding-top: convert(40);
      gap: 0;

      .hero__banner {
        display: flex;

        max-width: convert(1440);
        width: 100%;
        margin: 0 auto;
        .hero__main-content {
          padding: 0 convert(16);
          display: flex;
          flex-direction: column;
          gap: convert(20);

          .hero__main-heading {
            @include sectional-heading;
            text-align: left;
          }

          .hero__main-text {
            @include regular-text;
            color: rgba(0, 0, 0, 0.6);
          }
          .btn-shopnow {
            @include button-style;
            @include medium-text;
            padding: convert(16) 0;
            background-color: $primary-black;
            color: $primary-white;
            text-align: center;
            align-items: center;
            width: 100%;
          }

          .hero__stats {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: convert(16) 0;

            .stat-item {
              display: flex;
              flex-direction: column;
              text-align: center;
              flex: 1;

              &--full {
                flex: 0 0 100%;
                margin-top: convert(12);
              }

              .stat-item__number {
                font-family: $font-secondary;
                font-size: 24px;
                font-weight: $font-weight-bold;
                line-height: 100%;
                letter-spacing: 0;
                vertical-align: middle;
              }

              .stat-item__label {
                font-family: $font-secondary;
                font-weight: $font-weight-regular;
                font-size: convert(12px);
                line-height: 22px;
                letter-spacing: 0;
                color: rgba(0, 0, 0, 0.6);
              }
            }

            .stat-divider {
              width: 1px;
              height: convert(52);
              background-color: rgba(0, 0, 0, 0.1);
            }
          }

          @media (min-width: 768px) {
            justify-content: space-between;
            padding: 0;
            gap: convert(32);

            .hero__main-heading {
              width: convert(600);
              font-size: $font-desktop-large;
              line-height: $font-desktop-large;
              // transform: translateY(convert(-3.14));
            }
            .btn-shopnow {
              padding: convert(15) convert(67.5);
              width: fit-content;
              font-size: $font-size-medium;
              font-weight: $font-weight-medium;
            }
            .hero__main-text {
              font-size: $font-size-medium;
              line-height: convert(22);
              width: convert(545);
            }
            .hero__stats {
              flex-direction: row;
              justify-content: space-between;
              margin-top: 1rem;
              gap: convert(32);
              flex-wrap: nowrap;
              .stat-item {
                flex: none;
                padding: 0;
                margin: 0;
                

                .stat-item__number {
                  vertical-align: center;
                  font-size: convert(40);
                }
                .stat-item__label {
                  display: inline;
                  text-wrap: none;
                  font-size: $font-size-medium;
                  line-height: convert(22);
                }
              }
              .stat-divider {
                height: convert(74);
              }
            }
          }
        }
        .hero__models-canvas-desktop {
          display: none;
          @media (min-width: 768px) {
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            z-index: -1;
          }
        }

        .hero__image-area {
          background-color: transparent;
          .small-star {
            position: absolute;
            left: convert(27);
            top: convert(137);
          }

          .big-star {
            position: absolute;
            left: convert(293);
            top: convert(40);
          }

          .hero__bg-models-mobile {
            max-width: convert(390);
            margin: 0;
            padding: 0;
          }

          @media (min-width: 768px) {
            // max-width: convert(690);
            width: 100%;

            .big-star {
              top: convert(86);
              left: convert(1255);
            }
            .small-star {
              top: convert(297);
              left: convert(750);
            }
            .hero__bg-models-mobile {
              display: none;
            }
          }
        }
        @media(min-width:768px){
          margin-botttom:convert(768);
        }
      }
      @media (min-width: 768px) {
        background-color: transparent;
        padding: 0;
      }
      .hero__main-luxury {
        background-color: $primary-black;
        display: flex;
        flex-direction: row;
        padding: convert(16);
        gap: convert(34);
        flex-wrap: wrap;
        @media(min-width:768){
          
          
          
          margin-left:convert(-100);
          margin-right:convert(-100);
          padding: convert(42) convert(100);
        }
      }
    }
  }
  @media (min-width: 768px) {
    position: relative;
    padding: convert(100);
  }
}
